body {
  font-family: "Work Sans", "Adobe Blank";
}

.body-container-div {
  width: 100%;
  margin: auto;
}

.header-logo-image {
  padding-left: 100px;
}

.how-it-works-image {
  padding: 70px 0px 0px 0px;
  text-align: center;
}

.how-it-works-image>img {
  width: 450px;
}

.no-padding {
  padding: 0px;
}

.header-div {
  height: 80px;
  background-color: #ffffff;
  padding: 15px;
}

.header-div-links {
  height: 80px;
  float: right;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.9px;
  color: #20558d;
  padding: 20px 0px;
  margin-right: 10px;
}

.header-div-links>li>a:hover {
  background-color: #ffffff;
  color: #369dec;
}

.header-div-links>li>a:focus {
  background-color: #ffffff;
  color: #369dec;
}

.header-div-links>li.active>a>span {
  padding-bottom: 3px;
  border-bottom: 3px solid #369dec;
  color: #369dec;
}

.header-nav-bar {
  margin-bottom: 0px;
  background-color: #ffffff;
}

.body-div {
  margin-top: 80px;
  position: relative;
}

#home {
  background-image: url('../images/FeatureBkgd-Macbook-70.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  height: 700px;
  background-color: #ffffff;
  position: relative;
  background-size: auto 700px;
}

.home-details-div-body {
  margin: auto;
  margin-top: 70px;
  /*   width: 460px; */
  padding-left: 30px;
}

.home-details-div-body-text {
  font-size: 30px;
  line-height: 1.39;
  color: #8c8f94;
  margin-top: 20px;
}

.home-details-div-body-button {
  width: 220px;
}

.mouse-down-button {
  text-align: center;
  position: absolute;
  bottom: 30px;
  display: none;
}

#how-it-works {
  background-image: linear-gradient(to bottom, #53f5d6, #40adf0);
}

.how-it-works-details-text {
  font-size: 16px;
  margin-top: 40px;
  line-height: 1.56;
  color: #3a3d4b;
}

.how-it-works-button {
  width: 220px;
}

.how-it-works-details-div {
  /*padding-top: 40px;*/
  padding-right: 40px;
}

#about-us {
  background-color: #ffffff;
}

.about-us-text-div {
  padding-left: 30px;
  /*   width: 460px; */
  margin: auto;
}

.about-us-image-div {
  padding: 70px 0px 0px 0px;
  text-align: center;
}

.about-us-image-div>img {
  width: 440px;
}

/*
.about-us-heading {
	height: 26px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.63;
	letter-spacing: 2px;
	color: #41aef0;
}
 */
.about-us-detail-text {
  font-size: 16px;
  line-height: 1.56;
  color: #3a3d4b;
  margin-bottom: 40px;
  margin-top: 30px;
}

#our-solutions {
  background-color: #f5f5f5;
}

.our-solutions-body {
  padding-left: 30px;
  /*   width: 460px; */
  margin: auto;
}

.our-solutions-details-body {
  padding-top: 50px;
  /* padding-left: 60px; */
}

.our-solutions-detail-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.56;
  color: #3a3d4b;
}

.our-solutions-element {
  margin-bottom: 30px;
}

.our-solutions-element-image-div {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: inline-block;
  float: left;
}

.our-solutions-element-text-div {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  width: 380px;
}

.our-solutions-element-heading {
  height: 28px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  color: #41aef0;
  text-transform: uppercase;
}

.our-solutions-element-detail-text {
  font-size: 14px;
  line-height: 1.71;
  color: #222328;
  margin-top: 10px;
}

#who-we-serve {
  height: 800px;
  background-image: url('../images/bkgd-city-skyline.png'),
    linear-gradient(to bottom, #53f5d6, #40adf0);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.who-we-serve-body {
  padding-left: 120px;
  padding-right: 40px;
}

.who-we-serve-elements {}

.who-we-serve-element {
  display: inline-block;
  margin-top: 40px;
  width: 32%;
}

.who-we-serve-element-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: inline-block;
}

.who-we-serve-element-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.56;
  color: #3a3d4b;
  width: 210px;
  margin-left: 10px;
  vertical-align: middle;
}

#hotel-partnerships {
  background-color: #ffffff;
}

.hotel-partnerships-details-div {
  padding-left: 30px;
  /*  width: 460px; */
  margin: auto;
}

.hotel-partnerships-image-div {
  padding: 70px 0px 0px 0px;
  text-align: center;
}

.hotel-partnerships-image-div>img {
  width: 440px;
}

.hotel-partnerships-text {
  font-size: 16px;
  line-height: 1.56;
  color: #3a3d4b;
  margin-top: 30px;
}

.hotel-partnerships-second-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  color: #369dec;
  margin-top: 30px;
}

.hotel-partnerships-button {
  width: 280px;
}

#contact-us {
  background-color: #f5f5f5;
}

.contact-us-body {
  /*     padding: 81px 0px 40px 0px; */
  /*  width: 1184px; */
  margin: auto;
}

.contact-us-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.44;
  letter-spacing: -0.7px;
  text-align: center;
  color: #19417a;
}

.contact-us-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.75;
  color: #3a3d4b;
  padding: 0px 50px;
}

.contact-us-form {
  padding: 20px 80px;
}

.contact-us-form-element {
  display: inline-block;
  margin-top: 20px;
  padding: 0px 50px;
}

.contact-us-form-element-label {
  font-size: 14px;
  font-weight: 600;
  color: #41aef0;
}

.contact-us-form-message {
  font-size: 14px;
  font-weight: 600;
  color: #4e9a06;
  text-align: center;
}

.contact-us-form-element-input {
  background: transparent;
  border: none;
  border-bottom: solid 2px #cacaca;
  height: 50px;
  padding: 10px 2px;
  width: 100%;
  font-size: 18px;
  color: #20558d;
}

.contact-us-form-select-drop-down {
  background: url(../images/icon-down-chevron.png) no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 404px 21px;
}

.contact-us-form-element-input:focus {
  outline: none;
}

.contact-us-form-submit-div {
  margin-top: 20px;
  padding: 0px 50px;
}

.contact-us-form-submit-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: solid 2px #15689b;
  text-align: center;
  float: right;
  cursor: pointer;
}

.contact-us-form-submit-button-text {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #15689b;
  line-height: 3.0;
}

.email-input {
  background-image: url(../images/icon-20-email-blue.png) !important;
  background-position: right 15px center;
  background-repeat: no-repeat;
}

.privacy-policy-div {
  padding: 80px 100px;
}

.privacy-policy-div .heading {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.39;
}

.privacy-policy-div .bold {
  font-weight: bold;
}

.privacy-policy-div p,
.privacy-policy-div li {
  color: #94979C;
  font-size: 14px;
  font-weight: lighter;
  margin: 5px 0 20px;
  line-height: 150%;
}

.footer-white-bkgd-div {
  height: 130px;
  background-color: #ffffff;
  padding: 40px 80px;
}

.footer-grey-bkgd-div,
.footer-grey-bkgd-div a {
  height: 50px;
  background-color: #8c8f94;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.9px;
  color: #ffffff;
  padding: 17px 80px;
  text-decoration: none;
}

.footer-follow-us-text {
  font-size: 16px;
  font-weight: 600;
  color: #3694cd;
  margin-right: 35px;
}

.footer-social-network-images {
  margin-right: 15px;
}

.follow-us-div {
  padding: 14px 10px;
}


.home-body-div {
  padding-top: 81px;
  padding-bottom: 40px;
}

.title-blue {
  height: 26px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 2px;
  color: #41aef0;
}

.title-white {
  height: 26px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: 2px;
  color: #fff;
}

.brief {
  margin-top: 30px;
  color: #20558d;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.39;
}

.anchor-button-white {
  height: 50px;
  border-radius: 25px;
  border: solid 2px #ffffff;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.anchor-button-blue {
  height: 50px;
  border-radius: 25px;
  border: solid 2px #20558d;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.button-text {
  height: 16px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 3.5;
}

.anchor-button-white .button-text {
  color: #ffffff;
}

.anchor-button-blue .button-text {
  color: #20558d;
}